# local files with credentials
.envrc
.envrc.json

# emacs files
*~
\#*#
.#*
# python files
*.pyc
__pycache__/
.pytest_cache/
.venv/

# node files
**/node_modules/

# .vscode files, not that settings.json was purposely included in git
.vscode/

# stuff in my doc directory that is not ready yet
_other_files/
ngrok

